<!-- Club card -->
<div class="col-sm-4 col-xs-6 mt-2">
  <div class="card">
    <% if club.cover_pic.attached? %>
      <%= image_tag(club.cover_pic, class: 'card-img-top') %>
    <% end %>
    <div class="card-body">
      <h5 class="card-title"><%= club.name %></h5>
      <p class="card-text"><%= club.description %></p>
      <% if block_given? %>
        <%= yield %>
      <% end %>
      <%= link_to 'Info', club_path(club), class: 'btn btn-info', remote: true, data: {toggle: "modal", target: "#ajax-modal"} %>
    </div>
  </div>
</div>
