<table id="clubs" class="table table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Short</th>
    <th>Description</th>
    <th>Submissions</th>
    <th>Members</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @clubs.each do |club| %>
    <tr>
      <td><%= club.name %></td>
      <td><%= club.short_name %></td>
      <td><%= club.description %></td>
      <td><%= link_to 'Applications', club_application_submissions_path(club, format: :js, ajaxtarget: "#modal-body-content"), remote: true, data: {toggle: "modal", target: "#ajax-modal"}, class: "btn btn-success" %></td>
      <td><%= link_to 'Members', club_users_path(club, format: :js), remote: true, data: {toggle: "modal", target: "#ajax-modal"}, class: "btn btn-info" %></td>
      <td>
        <div role="group" class="btn-group-sm btn-group">
          <%= link_to 'Show', club, format: :js, data: {toggle: "modal", target: "#ajax-modal"}, remote: true, class: "btn btn-primary" %>
          <%= link_to 'Edit', edit_club_path(club), format: :js, data: {toggle: "modal", target: "#ajax-modal"}, remote: true, class: "btn btn-info" %>
          <%= link_to 'Destroy', club, method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-danger" %>
        </div>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<script>
    $(document).ready(function () {
        $("#clubs").DataTable();
    });
</script>
