<div>
  <%= show_div 'Name:', application.user.name %>
  <%= show_div 'Roll no:', application.user.roll_no %>
  <%= show_div 'Email:', application.user.email %>
  <%= show_div 'Branch:', application.user.branch&.name %>
  <%= show_div 'Projects:', application.projects %>
  <%= show_div 'Skills:', application.skills %>
  <%= show_div 'Github link:', application.github_link %>
</div>
