<p>
  <strong>User:</strong>
  <%= @application.user.name %>
</p>

<p>
  <strong>Roll no</strong>
  <%= @application.user.roll_no %>
</p>

<p>
  <strong>Email:</strong>
  <%= @application.user.email %>
</p>

<p>
  <strong>Branch:</strong>
  <%= @application.user.branch.name %>
</p>

<p>
  <strong>Projects:</strong>
  <%= @application.projects %>
</p>

<p>
  <strong>Skills:</strong>
  <%= @application.skills %>
</p>

<p>
  <strong>Github link:</strong>
  <%= @application.github_link %>
</p>

