<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<%= render partial: 'roles/badge', collection: @user.roles, as: :role %>

<p>
  <strong>Roll no:</strong>
  <%= @user.roll_no %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Club:</strong>
  <%= @user.club_id %>
</p>

