<p>
  <strong>Name:</strong>
  <%= @application_submission.user.name %>
</p>

<p>
  <strong>Club:</strong>
  <%= @application_submission.club.name %>
</p>

<p>
  <strong>Preference no:</strong>
  <%= @application_submission.preference_no %>
</p>

<p>
  <strong>Status:</strong>
  <%= @application_submission.status %>
</p>

<p>
  <strong>Marks:</strong>
  <%= @application_submission.marks %>
</p>

<p>
  <strong>Selected:</strong>
  <%= @application_submission.selected %>
</p>

