<%= render 'applications/show', application: @application_submission.application %>

<div class="mb-4">
  <%= show_div 'Applied club:', @application_submission.club.name %>
  <%= show_div 'Preference number:', @application_submission.preference_no %>
  <%= show_div 'Status:', @application_submission.humanize_status %>
  <%= show_div 'Marks:', @application_submission.marks? ? @application_submission.marks : '-' %>
  <%= show_div 'Selected:', @application_submission.selected ? "Yes" : "No" %>
</div>
