<% content_for :title do %>Club Selection
<% end %>

<%= render 'shared/step', step_1: 'done', step_2: 'active' %>

<div class="row">
  <% @clubs.each do |club| %>
    <%= render club do %>
      <% if @application.applied?(club.id) %>
          <%= link_to 'Applied', '#', class: "btn btn-success dis-cus", disabled: true %>
      <% else %>
        <span id="club-<%= club.id %>">
          <%= link_to 'Apply', application_application_submissions_path(application_id: @application.id, club_id: club.id), class: 'btn btn-primary', method: :post, remote: true, data: {disable_with: 'Appling...'} %>
        </span>
      <% end %>
    <% end %>
  <% end %>
</div>

<style>
  .card-img-top{
    max-height: 300px;
    object-fit: cover;
  }
</style>
