<% content_for :title do %>Club Selection
<% end %>

<%= render 'shared/step', step_1: 'done', step_2: 'active' %>

<div class="row">
  <% @clubs.each do |club| %>
    <div class="col-sm-4 col-xs-6 mt-2">
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><%= club.name %></h5>
          <p class="card-text"><%= club.info %></p>
          <% if @application.applied?(club.id) %>
              <%= link_to 'Applied', '#', class: "btn btn-success", disabled: true %>
          <% else %>
            <div id="club-<%= club.id %>">
              <%= link_to 'Apply', application_application_submissions_path(application_id: @application.id, club_id: club.id), class: 'btn btn-primary', method: :post, remote: true, data: {disable_with: 'Appling...'} %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
