<h1>Permissions</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Subject</th>
      <th>Actions</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @permissions.each do |permission| %>
      <tr>
        <td><%= permission.subject %></td>
        <td><%= permission.actions %></td>
        <td><%= link_to 'Show', permission, class: "btn btn-success" %></td>
        <td><%= link_to 'Edit', edit_permission_path(permission), class: "btn btn-info" %></td>
        <td><%= link_to 'Destroy', permission, method: :delete, data: { confirm: 'Are you sure?' },  class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Permission', new_permission_path %>
