<% attr = attributes.reject(&:password_digest?).reject(&:reference?) -%>
<table id="<%= plural_table_name %>" class="table table-striped">
  <thead>
  <tr>
  <% attr.each do |attribute| -%>
  <th><%= attribute.human_name %></th>
  <% end -%>
  <th></th>
  </tr>
  </thead>

  <tbody>
  <%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
    <tr>
    <% attr.each do |attribute| -%>
  <td><%%= <%= singular_table_name %>.<%= attribute.name %> %></td>
    <% end -%>
  <td>
        <div role="group" class="btn-group-sm btn-group">
          <%%= link_to 'Show', <%= singular_table_name %>, format: :js, data: {toggle: "modal", target: "#ajax-modal"}, remote: true, class: "btn btn-primary" %>
          <%%= link_to 'Edit', edit_<%= singular_table_name %>_path(<%= singular_table_name %>), format: :js, data: {toggle: "modal", target: "#ajax-modal"}, remote: true, class: "btn btn-info" %>
          <%%= link_to 'Destroy', <%= singular_table_name %>, method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-danger" %>
        </div>
      </td>
    </tr>
  <%% end %>
  </tbody>
</table>

<script>
    $(document).ready(function () {
        $("#<%= plural_table_name %>").DataTable();
    });
</script>
