<%% content_for :title do %>Editing <%= singular_table_name.titleize %>
<%% end %>

<div class="main-card mb-3 card mt-4">
  <div class="card-header">
    <div class="row">
      <div class="card-header-title col-6">
        Editing<%= plural_table_name.titleize %>
      </div>

      <div class="col-6">
        <div role="group" class="btn-group-sm btn-group float-end">
          <%%= link_to 'Show', @<%= singular_table_name %>, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>

  <div class="card-body">
    <%%= render 'form', <%= singular_table_name %>: @<%= singular_table_name %> %>
  </div>
</div>